In [2]:
# Import packages
### YOUR CODE HERE ###
import pandas as pd
import numpy as np

In [3]:
# Load dataset into dataframe
data = pd.read_csv("tiktok_dataset.csv")

### **Task 2b. Understand the data - Inspect the data**

View and inspect summary information about the dataframe by **coding the following:**

1. `data.head(10)`
2. `data.info()`
3. `data.describe()`

*Consider the following questions:*

**Question 1:** When reviewing the first few rows of the dataframe, what do you observe about the data? What does each row represent?

**Question 2:** When reviewing the `data.info()` output, what do you notice about the different variables? Are there any null values? Are all of the variables numeric? Does anything else stand out?

**Question 3:** When reviewing the `data.describe()` output, what do you notice about the distributions of each variable? Are there any questionable values? Does it seem that there are outlier values?

In [4]:
# Display and examine the first ten rows of the dataframe
### YOUR CODE HERE ###
data.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

In [5]:
# Get summary info
### YOUR CODE HERE ###
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [6]:
# Get summary statistics
### YOUR CODE HERE ###
data.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

===> ENTER YOUR RESPONSE TO QUESTIONS 1-3 HERE
1. There are some rows that will be useful during an analysis, while there are some rows which are not useful for an analysis.
For example, video ID is not required during an analysis. 
2. During analysis of all variables, we can see that there are some missing values as seen by the different value counts for each variable. Moreover, Data types are mostly what they should be, so we don't need to change those. 
3. During the analysis of Describe data, we are not able to see a data point that stands out.

### **Task 2c. Understand the data - Investigate the variables**

In this phase, you will begin to investigate the variables more closely to better understand them.

You know from the project proposal that the ultimate objective is to use machine learning to classify videos as either claims or opinions. A good first step towards understanding the data might therefore be examining the `claim_status` variable. Begin by determining how many videos there are for each different claim status.

In [76]:
# What are the different values for claim status and how many of each are in the data?
### YOUR CODE HERE ###
(data['claim_status'].value_counts() / 19084) * 100

claim      50.345839
opinion    49.654161
Name: claim_status, dtype: float64

**Question:** What do you notice about the values shown?

There are almost equal numbers of claims as there are opinions.

Next, examine the engagement trends associated with each different claim status.

Start by using Boolean masking to filter the data according to claim status, then calculate the mean and median view counts for each claim status.

In [8]:
# What is the average view count of videos with "claim" status?
### YOUR CODE HERE ###
data[data['claim_status'] == 'claim']['video_view_count'].mean()

501029.4527477102

In [9]:
# What is the average view count of videos with "opinion" status?
### YOUR CODE HERE ###
data[data['claim_status'] == 'opinion']['video_view_count'].mean()

4956.43224989447

**Question:** What do you notice about the mean and media within each claim category?

Ans: We can see that where claim status is "Claim", it has significantly more view counts, than those with the claim status "Opinion"

Now, examine trends associated with the ban status of the author.

Use `groupby()` to calculate how many videos there are for each combination of categories of claim status and author ban status.

In [88]:
# Get counts for each group combination of claim status and author ban status
### YOUR CODE HERE ###
data.groupby('claim_status').agg('author_ban_status').value_counts()

claim_status  author_ban_status
claim         active               6566
              under review         1603
              banned               1439
opinion       active               8817
              under review          463
              banned                196
Name: author_ban_status, dtype: int64

**Question:** What do you notice about the number of claims videos with banned authors? Why might this relationship occur?

Ans. We can clearly notice that although there are equal numbers claims and opinions in the data, the number of banned accounts where claim_status is "Opinion" is much lower than it is in the claim status "claim."

Continue investigating engagement levels, now focusing on `author_ban_status`.

Calculate the median video share count of each author ban status.

In [92]:
### YOUR CODE HERE ###
data.groupby(['author_ban_status']).agg(
    {
        'video_view_count': ['mean', 'median'],
        'video_like_count': ['mean', 'median'],
        'video_share_count': ['mean', 'median']
    })

                  video_view_count           video_like_count            \
                              mean    median             mean    median
author_ban_status
active               215927.039524    8616.0     71036.533836    2222.0
banned               445845.439144  448201.0    153017.236697  105573.0
under review         392204.836399  365245.5    128718.050339   71204.5

                  video_share_count
                               mean   median
author_ban_status
active                 14111.466164    437.0
banned                 29998.942508  14468.0
under review           25774.696999   9444.0

In [12]:
# What's the median video share count of each author ban status?
### YOUR CODE HERE ###

**Question:** What do you notice about the share count of banned authors, compared to that of active authors? Explore this in more depth.

Ans. We can notice that the videos that are shared more times and more likely to get banned and be under review

Use `groupby()` to group the data by `author_ban_status`, then use `agg()` to get the count, mean, and median of each of the following columns:
* `video_view_count`
* `video_like_count`
* `video_share_count`

Remember, the argument for the `agg()` function is a dictionary whose keys are columns. The values for each column are a list of the calculations you want to perform.

In [13]:
### YOUR CODE HERE ###
print(f"count: \n{data.groupby('author_ban_status').agg('video_view_count').count()}\n")
print(f"Mean: \n{data.groupby('author_ban_status').agg('video_view_count').mean()}\n")
print(f"Median: \n{data.groupby('author_ban_status').agg('video_view_count').median()}\n")

count:
author_ban_status
active          15383
banned           1635
under review     2066
Name: video_view_count, dtype: int64

Mean:
author_ban_status
active          215927.039524
banned          445845.439144
under review    392204.836399
Name: video_view_count, dtype: float64

Median:
author_ban_status
active            8616.0
banned          448201.0
under review    365245.5
Name: video_view_count, dtype: float64

In [14]:
### YOUR CODE HERE ###
print(f"count: \n{data.groupby('author_ban_status').agg('video_like_count').count()}\n")
print(f"Mean: \n{data.groupby('author_ban_status').agg('video_like_count').mean()}\n")
print(f"Median: \n{data.groupby('author_ban_status').agg('video_like_count').median()}\n")

count:
author_ban_status
active          15383
banned           1635
under review     2066
Name: video_like_count, dtype: int64

Mean:
author_ban_status
active           71036.533836
banned          153017.236697
under review    128718.050339
Name: video_like_count, dtype: float64

Median:
author_ban_status
active            2222.0
banned          105573.0
under review     71204.5
Name: video_like_count, dtype: float64

In [23]:
### YOUR CODE HERE ###
print(f"count: \n{data.groupby('author_ban_status').agg('video_share_count').count()}\n")
print(f"Mean: \n{data.groupby('author_ban_status').agg('video_share_count').mean()}\n")
print(f"Median: \n{data.groupby('author_ban_status').agg('video_share_count').median()}\n")

count:
author_ban_status
active          15383
banned           1635
under review     2066
Name: video_share_count, dtype: int64

Mean:
author_ban_status
active          14111.466164
banned          29998.942508
under review    25774.696999
Name: video_share_count, dtype: float64

Median:
author_ban_status
active            437.0
banned          14468.0
under review     9444.0
Name: video_share_count, dtype: float64

**Question:** What do you notice about the number of views, likes, and shares for banned authors compared to active authors?

Ans. One thing we can understand from this analysis is that, the creators that are more popular or who have more view counts, share counts etc. are more likely to be banned are be under review. 

Now, create three new columns to help better understand engagement rates:
* `likes_per_view`: represents the number of likes divided by the number of views for each video
* `comments_per_view`: represents the number of comments divided by the number of views for each video
* `shares_per_view`: represents the number of shares divided by the number of views for each video

In [58]:
# Create a likes_per_view column
### YOUR CODE HERE ###
data['likes_per_view'] = round(data['video_like_count'] / data['video_view_count'], 4)
# Create a comments_per_view column
### YOUR CODE HERE ###
data['comments_per_view'] = round(data['video_comment_count'] / data['video_view_count'], 4)
# Create a shares_per_view column
### YOUR CODE HERE ###
data['share_per_view'] = round(data['video_share_count'] / data['video_view_count'], 4)

In [59]:
data['likes_per_view'].replace([np.inf, -np.inf], 0, inplace=True)
data['comments_per_view'].replace([np.inf, -np.inf], 0, inplace=True)
data['share_per_view'].replace([np.inf, -np.inf], 0, inplace=True)

In [60]:
data.head()

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count,likes_per_view,comments_per_view,share_per_view
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0,0.0566,0.0000,0.0007
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0,0.5491,0.0049,0.1351
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0,0.1083,0.0004,0.0032
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0,0.5485,0.0013,0.0796
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0,0.6229,0.0027,0.0732

Use `groupby()` to compile the information in each of the three newly created columns for each combination of categories of claim status and author ban status, then use `agg()` to calculate the count, the mean, and the median of each group.

In [62]:
### YOUR CODE HERE ###
print(f"count: \n{(data.groupby('author_ban_status').agg('likes_per_view').count())}\n")
print(f"mean: \n{(data.groupby('author_ban_status').agg('likes_per_view').mean())}\n")
print(f"medain: \n{(data.groupby('author_ban_status').agg('likes_per_view').median())}\n")

count:
author_ban_status
active          15383
banned           1635
under review     2066
Name: likes_per_view, dtype: int64

mean:
author_ban_status
active          0.266609
banned          0.328505
under review    0.305227
Name: likes_per_view, dtype: float64

medain:
author_ban_status
active          0.25420
banned          0.32500
under review    0.29055
Name: likes_per_view, dtype: float64

In [63]:
### YOUR CODE HERE ###
print(f"count: \n{(data.groupby('author_ban_status').agg('comments_per_view').count())}\n")
print(f"mean: \n{(data.groupby('author_ban_status').agg('comments_per_view').mean())}\n")
print(f"medain: \n{(data.groupby('author_ban_status').agg('comments_per_view').median())}\n")

count:
author_ban_status
active          15383
banned           1635
under review     2066
Name: comments_per_view, dtype: int64

mean:
author_ban_status
active          0.000890
banned          0.001263
under review    0.001180
Name: comments_per_view, dtype: float64

medain:
author_ban_status
active          0.0004
banned          0.0007
under review    0.0006
Name: comments_per_view, dtype: float64

In [64]:
### YOUR CODE HERE ###
print(f"count: \n{(data.groupby('author_ban_status').agg('share_per_view').count())}\n")
print(f"mean: \n{(data.groupby('author_ban_status').agg('share_per_view').mean())}\n")
print(f"medain: \n{(data.groupby('author_ban_status').agg('share_per_view').median())}\n")

count:
author_ban_status
active          15383
banned           1635
under review     2066
Name: share_per_view, dtype: int64

mean:
author_ban_status
active          0.053003
banned          0.064614
under review    0.060969
Name: share_per_view, dtype: float64

medain:
author_ban_status
active          0.03840
banned          0.04850
under review    0.04535
Name: share_per_view, dtype: float64

In [65]:
### YOUR CODE HERE ###
print(f"count: \n{round(data.groupby('claim_status').agg('likes_per_view').count())}\n")
print(f"mean: \n{round(data.groupby('claim_status').agg('likes_per_view').mean())}\n")
print(f"medain: \n{round(data.groupby('claim_status').agg('likes_per_view').median())}\n")

count:
claim_status
claim      9608
opinion    9476
Name: likes_per_view, dtype: int64

mean:
claim_status
claim      0.0
opinion    0.0
Name: likes_per_view, dtype: float64

medain:
claim_status
claim      0.0
opinion    0.0
Name: likes_per_view, dtype: float64

In [66]:
### YOUR CODE HERE ###
print(f"count: \n{round(data.groupby('claim_status').agg('share_per_view').count())}\n")
print(f"mean: \n{round(data.groupby('claim_status').agg('share_per_view').mean())}\n")
print(f"medain: \n{round(data.groupby('claim_status').agg('share_per_view').median())}\n")

count:
claim_status
claim      9608
opinion    9476
Name: share_per_view, dtype: int64

mean:
claim_status
claim      0.0
opinion    0.0
Name: share_per_view, dtype: float64

medain:
claim_status
claim      0.0
opinion    0.0
Name: share_per_view, dtype: float64

In [67]:
### YOUR CODE HERE ###
print(f"count: \n{round(data.groupby('claim_status').agg('comments_per_view').count())}\n")
print(f"mean: \n{round(data.groupby('claim_status').agg('comments_per_view').mean())}\n")
print(f"medain: \n{round(data.groupby('claim_status').agg('comments_per_view').median())}\n")

count:
claim_status
claim      9608
opinion    9476
Name: comments_per_view, dtype: int64

mean:
claim_status
claim      0.0
opinion    0.0
Name: comments_per_view, dtype: float64

medain:
claim_status
claim      0.0
opinion    0.0
Name: comments_per_view, dtype: float64